@tailwind base;
@tailwind components;
@tailwind utilities;

@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}

@layer utilities {
  .glow {
    background: radial-gradient(
      circle at center,
      rgba(32, 26, 202, 0.1) 0%,
      rgba(91, 16, 230, 0.08) 25%,
      transparent 50%
    );
  }
}

/* For the entire scrollbar */
::-webkit-scrollbar {
  /* display: none; */
  width: 8px;
}

/* For the scrollbar track (background) */
::-webkit-scrollbar-track {
  background: #242425; /* Add any color or background you'd like */
}

/* For the scrollbar thumb (the scroll handle) */
::-webkit-scrollbar-thumb {
  background: #27272a; /* Add any color you'd like */
  border: 1px solid #3f3f46;
}
section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.disable-transitions * {
  transition: none !important;
}

@layer components {
  .glass-card {
    @apply backdrop-blur-md bg-white/10 border border-white/20;
  }

  .gradient-text {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-amber-200 to-yellow-100;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.float-animation {
  animation: float 3s ease-in-out infinite;
}

@layer utilities {
  .bg-grid-black {
    background-size: 40px 40px;
    background-image: linear-gradient(
        to right,
        rgb(0 0 0 / 0.1) 1px,
        transparent 1px
      ),
      linear-gradient(to bottom, rgb(0 0 0 / 0.1) 1px, transparent 1px);
  }

  .bg-grid-white {
    background-size: 40px 40px;
    background-image: linear-gradient(
        to right,
        rgb(255 255 255 / 0.1) 1px,
        transparent 1px
      ),
      linear-gradient(to bottom, rgb(255 255 255 / 0.1) 1px, transparent 1px);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.float-animation {
  animation: float 3s ease-in-out infinite;
}
